<div class="articles">
    {% for article in articles %}
        <article>
            <h2><a href="{{ path('article_show', {'day': article.createdAt|date('d'), 'month': article.createdAt|date('m'), 'slug': article.slug, 'year': article.createdAt|date('Y')}) }}">{{ article.title }}</a></h2>
            <p>{{ article.content|truncate(100)|raw }}</p>
            <p>{{ article.author.username }}</p>
            <p>{{ article.createdAt|date('d/m/Y, à H:i') }}</p>
        </article>
    {% endfor %}
</div>