{% embed 'base.html.twig' %}

    {% block body %}

        <h1>Affichage des articles</h1>
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Créée le</th>
                    <th>Modifié le</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.author.username }}</td>
                        <td>{{ article.createdAt|date('d/m/Y') }}, à <pre>{{ article.createdAt|date('H:i:s') }}</pre></td>
                        <td>{{ article.editedAt|date('d/m/Y') }}</td>
                        <td><a href="{{ path('admin_article_edit', {'id': article.id}) }}">Éditer</a><a href="{{ path('admin_article_delete', {'id': article.id}) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin_article_add') }}">Ajouter un article</a>
    {% endblock %}

{% endembed %}